.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 100px);
}

.translated-text-container {
  position: absolute;
  left: 54%;
  top: 69%;
  transform: translate(-50%, -50%);
  width: 24vw;
  height: 14vh;
  overflow: auto;
}

.home-page .translated-text-container .translated-text {
  font-family: 'Cinzel', serif;
  font-size: 24px;
  white-space: pre-wrap;
  word-wrap: break-word;
  position: absolute;
  top: 2%;
}

@media only screen and (max-width: 1000px) {
  .translated-text-container {
    left: 32%;
    top: 211%;
    width: 33vw;
    height: 13vh;
  }

  .home-page .translated-text-container .translated-text {
    font-size: 25px;
  }
}