.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 100px);
}

.translated-text-container {
  position: absolute;
  left: 54%;
  top: 69%;
  transform: translate(-50%, -50%);
  width: 24vw;
  height: 14vh;
  overflow: auto;
}

.home-page .translated-text-container .translated-text {
  font-family: 'Cinzel', serif;
  font-size: 24px;
  white-space: pre-wrap;
  word-wrap: break-word;
  position: absolute;
  top: 2%;
}

@media only screen and (max-width: 1000px) {
  .translated-text-container {
    left: 32%;
    top: 204%;
    width: 33vw;
    height: 13vh;
  }

  .home-page .translated-text-container .translated-text {
    font-size: 25px;
  }
}

/* iPhone SE */
@media only screen and (min-width: 320px) { 
  .translated-text-container {
    height: 10vw;
    top: 83%;
  }
  }


/* iPhone XR */
@media only screen and (min-width: 414px) { 
  .translated-text-container {
    top: 83%;
  }
}


/* Samsung */
@media only screen and (min-width: 360px) { 
  .translated-text-container {
    top: 79%;
  }
}

/* iPad Air */
@media only screen and (min-width: 820px) {
  .translated-text-container {
    top: 100%;
  }
}

@media only screen and (min-width: 826px) {
  .translated-text-container {
    top: 83%;
  }
}
