.insult {
  background-color: rgba(227, 233, 237, 0.7);
  border-radius: 0.5rem;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Cinzel', serif;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  max-height: 250px;
  max-width: 270px;
  overflow-y: auto;
}

.insult:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

 .date-created {
  font-size: 14px;
}

.insult span {
  display: block;
  font-family: 'Cinzel', serif;
  font-weight: bold; 
}
