.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%)
}

.left-cat {
  background-image: url('LeftCat.svg');
  background-size: cover;
  width: 700px;
  height: 600px;
  position: relative;
}

.right-cat {
  background-image: url('RightCat.svg');
  background-size: cover;
  width: 700px;
  height: 600px;
  position: relative;
}

.input-container {
  position: absolute;
  left: 77%;
  top: 38%;
  right: 5%;
  transform: translate(-50%, -50%);
  width:60%
}

textarea {
  font-family: 'Cinzel', serif;
  font-size: 24px;
  width: 100%;
  max-width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  resize: none;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}


.insult-form {
  display: flex;
  flex-wrap: nowrap;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
}

.button {
  font-family: 'Cinzel', serif;
  font-size: 12px;
  background-color: transparent;
  border: 2px solid #333;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  padding: 8px 8px;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.button:hover {
  background-color: #446597a1;
  color: #fff;
}

.submit-btn {
  margin-bottom: 4px;
}


