.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 10vw;
  overflow: hidden;
}

.left-cat {
  background-image: url('LFTCat.svg');
  background-size: cover;
  width: 39vw;
  height: 39vw;
  position: relative;
}

.right-cat {
  background-image: url('RTCat.svg');
  background-size: cover;
  width: 39vw;
  height: 39vw;
  position: relative;
  pointer-events: none;
}

.chat-bubble-left, 
.chat-bubble-right {
  position: absolute;
  width: 35vw;
  height: 35vw;
  background-size: contain;
  background-repeat: no-repeat;
}

.chat-bubble-left {
  background-image: url('chatBubbleLft.svg');
  top: 7%;
  left: 51%;
  pointer-events: none;
}

.chat-bubble-right {
  background-image: url('chatBubbleRight.svg');
  top: 42%;
  right: 50%;
  pointer-events: none;
}

.input-container {
  position: absolute;
  left: 100%;
  top: 52%;
  right: 5%;
  transform: translate(-50%, -50%);
  width:60%;
  height: 55%;
  padding-right: 3%;
}

textarea {
  font-family: 'Cinzel', serif;
  font-size: 2vw;
  width: 90%;
  max-width: 90%;
  height: 88%;
  border: none;
  outline: none;
  background-color: transparent;
  resize: none;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  pointer-events: cursor;
}

.insult-form {
  display: flex;
  flex-wrap: nowrap;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  padding: 1%;
  position: absolute;
  left: 80%;
  top: 24%;
  transform: translateY(-50%);
}

.button {
  font-family: 'Cinzel', serif;
  font-size: .75vw;
  background-color: transparent;
  border: .2vw solid #333;
  border-radius: .5vw;
  color: #333;
  cursor: pointer;
  padding: .6vw .6vw;
  transition: all 0.3s ease;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  background-color: #446597a1;
  color: #fff;
}

.submit-btn {
  margin-bottom: 7px;
}

@media only screen and (max-width: 1000px) {
  .form-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .left-cat, .right-cat {
    width: 74vw;
    height: 75vw;
  }

  .chat-bubble-left, .chat-bubble-right {
    width: 45vw;
    height: 45vw;
  }

  .chat-bubble-left {
    top: 40%;
    left: 40%;
  }

  .chat-bubble-right {
    top: 45%;
    right: 40%;
  }

  .input-container {
    height: 7vh;
    width: 30vw;
    left: 73%;
  }
}

