html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
}

body {
  background-image: url('BackgroundImage.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
