.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px; 
  width: 100%;
  position: relative;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  width: 100%;
  height: auto;
}

.nav-link {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.history-icon {
  width: 100px;
}







