.history-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.history-page h1 {
  font-family: 'Cinzel', serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.history-results {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
